*{
  margin: 0;
  padding: 0;

}


body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.reg{
  max-width: 100%;
  /* width: 100vw; */
  display:flex;
  /* border: 1px solid #e9ecef; */
  /* border-radius: 5px; */
 /* box-shadow: 1px 3px 10px #e9ecef;*/
  background-color: rgb(193, 225, 232);
  
}
    
.col1{
    padding: 10px;
    width: 50%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;  
}

.col1 > h2{
    color: rgb(102, 13, 13);
    font-size: 35px;
    font-weight: 100;
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
}

.col1 > marquee{
    color: #ff0505;
    font-size: 25px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1rem;
    padding: 12px;
    justify-content: left;
    background-color: rgb(173, 243, 243);
    border: 2px solid blue;
    border-radius: 5px;
    
}

.col1 p{
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(91, 133, 27);
  
}

.col1 > span{
  font-size: 45px;
  justify-content: center;
  display: grid;
  padding-top: 15px;
  font-weight: 600;
}

.col1 > button {
  padding: 10px 20px 10px 20px;
  margin-left: 18rem;
  margin-top: 4rem;
  font-size: 25px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  
}

