body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.reg{
  max-width: 100%;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
 /* box-shadow: 1px 3px 10px #e9ecef;*/
  background-color: rgb(255, 255, 255);
  
}
    
.reg .col-1{
    margin-left: 5rem;
    margin-right: 32rem;

    
}

.reg .col-1 h2{
    color: rgb(102, 13, 13);
    font-size: 4rem;
    font-weight: 100;
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: left;
    /*padding-top: 6rem;
    padding-left: 12rem;*/
    /*display: flex;*/
}

.reg .col-1 h1{
    color: #176a0f;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    /*padding-top: 2rem;
    padding-left: 5rem;*/
    /*display: flex;*/
    justify-content: left;
    
}

.reg .col-1 p{
  /*padding-left: 12rem;*/
  font-family: Arial, Helvetica, sans-serif;
  
}

.col-1 span{
  font-size: larger;
  align-self: baseline;
  
}

.reg .col-2 img{
  width: 800px;
  height: 100%;
  padding-left: 0rem;
  
  /*object-fit: cover;*/
  /*align-self: flex-end;
  /*border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  /*max-width: fit-content;*/ 

}

@media screen and (min-width: 860px)  {
  .reg .col-2 img{
    display: initial;
  }
}

